


<!--menu -->


<header>
<div class="container header inner">
			<nav class="navbar">
			  <div class="container">
			    <div class="navbar-header">
      <a class="navbar-brand" href="/administrador">Volver</a>
    </div>
          <div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>                        
			      </button>
			    
			    </div>
		 <div class="collapse navbar-collapse" id="myNavbar">
			      <ul class="nav navbar-nav navbar-right masthead-nav">
			       <li><a routerLink="/abmusuarios" routerLinkActive="active">ABM Usuarios</a></li>
                    <li><a routerLink="/abmlocales" routerLinkActive="active">ABM Locales</a></li>
                    <li><a routerLink="/estadisticas" routerLinkActive="active">Estadísticas</a></li>
      <li><a  [routerLink]="[]" (click)="salir()" routerLinkActive="active">«Desloguearse»</a></li>
			   
			      </ul>
			    </div>
			  </div>
			</nav>
			</div>
		</header>
		
	<div id="mySidenav" class="sidenav">
		  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
		  <a href="#">About</a>
		  <a href="#">Services</a>
		  <a href="#">Clients</a>
		  <a href="#">Contact</a>
		</div>

		<span style="font-size:30px;cursor:pointer;float:right;color:#fff;position:absolute;top:5%;right: 10px;" onclick="openNav()">☰</span>
<!-- fin menu -->
<br/>
<br/>
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>

<body class="container" style="border-radius: 10px; background-color: rgba(0,0,0,.7); ">
  {{title}}
  <ng2-smart-table 
    [settings]="settings"
    [source]="source"
    (editConfirm)='editar($event)'
    (edit)='editar($event)'
    (userRowSelect)='cmselection($event)'
    (createConfirm)='agregar($event)'
    (deleteConfirm)='borrar($event)'
    (delete)='borrar($event)'
  ></ng2-smart-table>
</body>

</html>
<br><br>
<a class="btn boton_personalizado" (click)='exportar()'> Exportar Grilla en Excel</a>
<a class="btn boton_personalizado" (click)='convert()'> Exportar Grilla en PDF</a>