
<app-menu></app-menu>
<br/>
<br/>
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body class="container" style="border-radius: 10px; background-color:rgba(0,0,0,.7) ">
  {{title}}
  <ng2-smart-table 
    [settings]="settings"
    [source]="source"
    (editConfirm)='editar($event)'
    (edit)='editar($event)'
    (userRowSelect)='cmselection($event)'
    (createConfirm)='agregar($event)'
    (deleteConfirm)='borrar($event)'
    (delete)='borrar($event)'
  ></ng2-smart-table>
</body>
<br><br>
<a class="btn boton_personalizado" (click)='exportar()'> Exportar Grilla</a>